---
title: Ali And Brian
---

<div id="content">

  <header class="main">
    <article>
      <container>
        <%= partial "partials/header" %>
      </container>
    </article>
  </header>

  <%
  # <section id="about">
  #   <article>
  #     <container>
  #       <header>
  #         <h2>About us</h2>
  #       </header>
  #       <div class="alison">
  #         <h3>Alison</h3>
  #         <p>
  #           Ali is a super fun girl to hang out with. She may be a little shy at first, but once she opens up, she's a ton of fun. She loves reading. If it weren't for laws against it, she would probably be marrying books instead of me.

  #           She is imaginative and creative. She is <a href="http://www.alisonthomasart.com">a great artist</a>. Since Ali is so smart, she is very fun to talk to.

  #           She likes the outdoors.

  #         </p>
  #       </div>
  #       <div class="brian">
  #         <h3>Brian</h3>
  #         <p>
  #           Scoundrel.
  #         </p>
  #       </div>
  #     </container>
  #   </article>
  # </section>
  %>

  <section id="meeting">
    <article>
      <container>
        <%= partial "partials/meeting" %>
      </container>
    </article>
  </section>

  <section id="proposal">
    <article>
      <container>
        <%= partial "partials/proposal" %>
      </container>
    </article>
  </section>

  <div class="match-height">
    <section id="when" class="fifty">
      <article>
        <container>
          <%= partial "partials/when" %>
        </container>
      </article>
    </section>

    <section id="where" class="fifty right">
      <article>
        <container>
          <%= partial "partials/where"%>
        </container>
      </article>
    </section>
  </div>

  <section id="slideshow">
    <%= partial "partials/slideshow"%>
  </section>

  <div>
    <section id="theme" class="fifty centered vertical-centered">
      <article>
        <container>
          <%= partial "partials/theme"%>
        </container>
      </article>
    </section>

    <section id="dress" class="fifty right centered vertical-centered">
      <article>
        <container>
          <%= partial "partials/dress"%>
        </container>
      </article>
    </section>
  </div>

  <section id="directions" class="centered vertical-centered">
    <article>
      <container>
        <%= partial "partials/directions"%>
      </container>
    </article>
  </section>

  <div>
    <section id="registries" class="fifty centered vertical-centered">
      <article>
        <container>
          <%= partial "partials/registries"%>
        </container>
      </article>
    </section>

    <section id="disclaimer" class="fifty right centered vertical-centered">
      <article>
        <container>
          <%= partial "partials/disclaimer"%>
        </container>
      </article>
    </section>
  </div>

  <section id="footer" class="vertical-centered centered">
    <article class="rsvp">
      <container>
        The invitations you will receive in the mail<br>will give you instruction on how to RSVP.
      </container>
    </article>
  </section>

  <div class="copyright">&copy; 2014 - Brian Anders</div>
</div>
